
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
  }

//.container1 {
//  margin-top: 80%;
//}


  h2 {
    text-align: center;
    color: #333333;
    size: 18px;
  }
  form {
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
    text-align: left;
    font-size: 16px;
    padding-left: 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="date"],
  select {
    width: 93%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  select{
    margin-left: 4%;
  }

  button {
    width: 93%;
    padding: 10px;
    margin-left:8px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  a {
    margin-top: 10px;
  }
  p{
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }

  .button-disabled {
    background-color: #cccccc;
    color: #777777;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }

//======================= Styles for multisteps forms begin ====================================================


// =================================================================================================

