<div class="container1">
  <br>
  <h2 class="text-center"> Bienvenue sur la page de pré-enrolement</h2>
  <div class="row">
    <div class="container justify-content-center ">
      <div class="success-message-panel" *ngIf="message">
        <div class="success-icon">&#10004;</div>
        <div class="success-message">{{message}}</div>
      </div>

      <p class="text-center ">Les champs avec <span class="text-danger">*</span> sont requis.</p>
      <hr>
      <!--        form wizard multi steps made by abdel -->
      <!--      end form-->
      <form (ngSubmit)="registerUser()">
        <div class="form-group">
          <label>Nom <span class="text-danger">(*)</span></label>
          <input
            id="firstname"
            name="firstname"
            required type="text"
            [(ngModel)]="registerRequest.firstname"
          >
        </div>
        <div class="form-group">
          <label>Prenom <span class="text-danger">(*)</span></label>
          <input id="lastname"
                 name="lastname"
                 required type="text"
                 [(ngModel)]="registerRequest.lastname">
        </div>
        <div class="form-group">
          <label >Date Naissance <span class="text-danger">(*)</span></label>
          <input   id="date"
                   name="dateNaiss"
                   required type="date"
                   [(ngModel)]="registerRequest.dateNaiss">
        </div>
        <div class="form-group">
          <label >Lieu Naissance <span class="text-danger">(*)</span></label>
          <input  name="lieuNaiss"
                  required type="text"
                  [(ngModel)]="registerRequest.lieuNaiss">
        </div>
        <div class="form-group">
          <label >Numéros de telephone <span class="text-danger">(*)</span></label>
          <input  name="numTel"
                  required type="number"
                  [(ngModel)]="registerRequest.numTel">
        </div>
        <div class="form-group">
          <label >Adresse mail <span class="text-danger">(*)</span></label>
          <input   id="email"
                   name="email"
                   required type="text"
                   [(ngModel)]="registerRequest.email">
        </div>

        <div class="form-group">
          <label >Lieu de residence <span class="text-danger">(*)</span></label>
          <input  name="lieuResidence"
                  required type="text"
                  [(ngModel)]="registerRequest.lieuResidence">
        </div>

        <div class="form-group">
          <label >Region d' origine <span class="text-danger">(*)</span></label>
          <select id="region"
                  required type="text"
                  [(ngModel)]="registerRequest.regionOrigine"
                  class="form-control">
            <option selected name="adamaoua">Adamaoua</option>
            <option name="centre">Centre</option>
            <option name="est">Est</option>
            <option name="extreme nord">Extreme nord</option>
            <option name="littoral">Littoral</option>
            <option name="nord">Nord</option>
            <option name="nord ouest">Nord Ouest</option>
            <option name="ouest">Ouest</option>
            <option name="sud">Sud</option>
            <option name="sud ouest">Sud Ouest</option>
          </select>
        </div>
        <div class="form-group">
          <label >Nom tuteur <span class="text-danger">(*)</span></label>
          <input  required type="text"
                  name="nomTuteur"
                  [(ngModel)]="registerRequest.nomTuteur">
        </div>
        <div class="form-group">
          <label >Numéros tuteur<span class="text-danger">(*)</span></label>
          <input  required type="number"
                  name="numTuteur"
                  [(ngModel)]="registerRequest.numTuteur">
        </div>

        <button type="submit">enregistrer</button>
      </form>
    </div>
  </div>
</div>


